<app-accounts></app-accounts>
<div (click)="onContainerClicked($event)" class="modal fade" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" *ngIf="accountDetail">
    <div class="modal-content">
      <div class="modal-header">
        Edit Account Detail
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div >
            <label>First Name</label>
            <input class="form-control" [(ngModel)]="accountDetail.firstname" placeholder="First Name" required />
          </div>
          <div>
            <label>Last Name</label>
            <input class="form-control" [(ngModel)]="accountDetail.lastname" placeholder="Last Name" required/>
          </div>
          <div>
            <label>Email</label>
            <input class="form-control" type="email" [(ngModel)]="accountDetail.email" placeholder="Email" required/>
          </div>
          <div>
            <label>Username</label>
            <input class="form-control" [(ngModel)]="accountDetail.username" placeholder="User Name" required/>
          </div>
          <div>
            <label>Phone</label>
            <input class="form-control" type="number" [(ngModel)]="accountDetail.phone" placeholder="Phone" required/>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateAccount(accountDetail)">Save changes</button>
      </div>
    </div>
  </div>
</div>
